<h2><code>lightGridTemplates</code> module overview</h2>

<p>
	The <code>lightGridTemplates</code> module contains several column templates that could come in handy when basic functionality is needed.
</p>
<p>
	These templates are placed instead the <code>lgColumn</code> directive.
</p>