<h2><code>lgGrid</code> directive</h2>

<p>
	The <code>lgGrid</code> is the main directive. It is used to define a grid. Configuration is done via its child directives.
	The <code>lgGrid</code> directive may be placed as an attribute on any element (though it will usually be a <code>table</code>).
</p>

<h3>Attributes</h3>
<table class="table table-striped">
	<thead>
		<tr>
			<th>Attribute</th>
			<th>Type</th>
			<th>Description</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>model</td>
			<td>object array</td>
			<td>Provides the model to display.</td>
		</tr>
		<tr>
			<td>initialView</td>
			<td>string</td>
			<td>Specifies name of the view the grid will start in.</td>
		</tr>
	</tbody>
</table>

<h3>Examples</h3>
<pre highlight="html">
&lt;table lg-grid model="myModel"&gt;&lt;/table&gt;
</pre>
