<h2><code>lgHeaderView</code> directive</h2>
<p>Template for a column header.</p>
<p>
	Column titles may be specified as <code>title</code> attribute of a
	<a href="@Url.Action("Api", "Home")#/lightGrid/lgColumn">lgColumn</a>. However, this attribute does not allow
	to specify custom formatting (it allows just plain text). If you require to insert HTML tags inside a header,
	the <code>lgHeaderView</code> is the way to go.
</p>

<h3>Examples</h3>
<pre highlight="html">
&lt;lg-grid model="myModel"&gt;
	&lt;lg-column&gt;
		&lt;lg-header-view&gt;
			The column &lt;strong&gt;title&lt;/strong&gt;
		&lt;/lg-header-view&gt;
		&lt;lg-view&gt;
			The rest of the column templates may be specified either inside lg-view directives...
		&lt;/lg-view&gt;
	&lt;/lg-column&gt;
	&lt;lg-column&gt;
		&lt;lg-header-view&gt;
			&lt;span class="something"&gt;Another&lt;/span&gt; column &lt;strong&gt;title&lt;/strong&gt;
		&lt;/lg-header-view&gt;
		...or directly inside lg-column.
	&lt;/lg-column&gt;
&lt;/lg-grid&gt;
</pre>