<script>
	function clientSidePagingController($scope, lgLocalDataProviderFactory) {
		var model = [];
		for (var i = 1; i <= 100; ++i) {
			model.push({
				id: i,
				name: "Item " + i
			});
		}

		$scope.dataProvider = lgLocalDataProviderFactory.create(model);
		$scope.dataProvider.limitTo(15);
	}
</script>

<h2>Client-side paging</h2>

<div ng-controller="clientSidePagingController" ng-non-bindable>
	<lg-pager data-provider="dataProvider"></lg-pager>

	<table lg-grid class="table table-striped" model="dataProvider.getGridModel()">
		<thead>
			<tr>
				<th>ID</th>
				<th>Name</th>
			</tr>
		</thead>
		<tbody>
			<tr lg-row>
				<td>{{ row.data.id }}</td>
				<td>{{ row.data.name }}</td>
			</tr>
		</tbody>
	</table>

	<lg-pager data-provider="dataProvider"></lg-pager>

	<lg-page-size-options data-provider="dataProvider" options="[5, 10, 15, 30]"></lg-page-size-options>
</div>

<source-display></source-display>
