<script>
	function clientSideSearchController($scope, sampleModel, lgLocalDataProviderFactory) {
		$scope.model = sampleModel;
		$scope.dataProvider = lgLocalDataProviderFactory.create(sampleModel);

		$scope.$watch("filterExpression", function () {
			$scope.dataProvider.filter($scope.filterExpression);
		});
	}
</script>

<h2>Client-side search example</h2>

<div ng-controller="clientSideSearchController" ng-non-bindable>
	<div class="btn-toolbar">
		<div class="btn-group btn-group-sm">
			<input type="text" ng-model="filterExpression" class="form-control" placeholder="type here to search" />
		</div>
	</div>

	<table lg-grid class="table table-striped" model="dataProvider.getGridModel()">
		<thead>
			<tr>
				<th>Make</th>
				<th>Model</th>
				<th>Engine</th>
			</tr>
		</thead>
		<tbody>
			<tr lg-row>
				<td>{{ row.data.make }}</td>
				<td>{{ row.data.model }}</td>
				<td>{{ row.data.engine }}</td>
			</tr>
		</tbody>
	</table>
</div>

<source-display></source-display>
