<script>
	function expandedRowController($scope, sampleModel) {
		$scope.model = sampleModel;
	}
</script>

<h2>Expanding rows</h2>

<div ng-controller="expandedRowController" ng-non-bindable>
	<script type="text/ng-template" id="detailsTemplate.html">
		<div class="panel panel-default">
			<div class="panel-body">
				<p>Here we can show additional details of {{ row.data.make }} {{ row.data.model }}.</p>
			</div>
		</div>
	</script>

	<table lg-grid class="table table-striped" model="model">
		<thead>
			<tr>
				<th>Make</th>
				<th>Model</th>
				<th>Engine</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<tr lg-row-start>
				<td>{{ row.data.make }}</td>
				<td>{{ row.data.model }}</td>
				<td>{{ row.data.engine }}</td>
				<td><button lg-toggle-expanded-row class="btn btn-default btn-sm">Details</button></td>
			</tr>
			<tr lg-row-end ng-if="row.expanded">
				<td colspan="4" ng-include="'detailsTemplate.html'"></td>
			</tr>
		</tbody>
	</table>
</div>

<source-display></source-display>
