<script>
	function everythingLocalController($scope, $http, lgLocalDataProviderFactory) {
		$scope.dataProvider = lgLocalDataProviderFactory.create([]);
		$scope.dataProvider.setPageSize(5);

		$scope.$watch("filterExpression", function () {
			$scope.dataProvider.filter($scope.filterExpression);
		});

		$scope.loadData = function () {
			$http.get("Data/zips.json").success(function (data) {
				$scope.dataProvider.setModel(data);
			});
		};
	}

	function detailsController($scope, $sce) {
		$scope.getMapUrl = function () {
			return $sce.trustAsResourceUrl("https://www.google.com/maps/embed/v1/view?key=AIzaSyAQfMqap7X0mJ7MVcPsheEJyyp0WDRFNHA&center=" + $scope.row.data.loc[1] + ',' + $scope.row.data.loc[0] + "&zoom=14");
		}
	}
</script>

<h2>Fully featured grid based on local data</h2>

<p>
	The following sample presents an editable grid with sorting, paging and filtering features.
	It is backed by an array with almost 30000 elements (US zip codes taken from <a rel="nofollow" href="http://jsonstudio.com/resources">http://jsonstudio.com/resources</a>).
</p>

<div ng-controller="everythingLocalController" ng-non-bindable>
	<div class="btn-toolbar">
		<div class="btn-group">
			<button ng-click="loadData()" class="btn btn-default">Load data (~3MB)</button>
		</div>
		<div class="btn-group">
			<input type="text"
			       ng-model="filterExpression"
			       ng-model-options="{debounce: 150}"
			       class="form-control"
			       placeholder="type here to search" />
		</div>
	</div>

	<script type="text/ng-template" id="detailsTemplate.html">
		<div class="panel panel-default">
			<div class="panel-body" ng-controller="detailsController">
				<div class="row">
					<iframe class="col-md-12" frameborder="0" style="border:0; height: 400px" ng-src="{{ getMapUrl() }}" allowfullscreen></iframe>
				</div>
			</div>
		</div>
	</script>

	<table lg-grid class="table table-striped" model="dataProvider.getGridModel()">
		<thead>
			<tr>
				<th><span lg-sorter sort-property="city" data-provider="dataProvider">City</span></th>
				<th><span lg-sorter sort-property="state" data-provider="dataProvider">State</span></th>
				<th><span lg-sorter sort-property="_id" data-provider="dataProvider">ZIP</span></th>
				<th><span lg-sorter sort-property="loc[0]" data-provider="dataProvider">Lat</span></th>
				<th><span lg-sorter sort-property="loc[1]" data-provider="dataProvider">Lon</span></th>
				<th><span lg-sorter sort-property="pop" data-provider="dataProvider">Population</span></th>
			</tr>
		</thead>
		<tbody>
			<tr lg-row-start>
				<td>
					<lg-view view="default">
						{{ row.data.city }}
					</lg-view>
					<lg-view view="edit">
						<input ng-model="row.viewModel.city" class="form-control input-sm"/>
					</lg-view>
				</td>

				<td>
					<lg-view view="default">
						{{ row.data.state }}
					</lg-view>
					<lg-view view="edit">
						<input ng-model="row.viewModel.state" class="form-control input-sm"/>
					</lg-view>
				</td>

				<td>
					<lg-view view="default">
						{{ row.data._id }}
					</lg-view>
					<lg-view view="edit">
						<input ng-model="row.viewModel._id" class="form-control input-sm"/>
					</lg-view>
				</td>

				<td>
					<lg-view view="default">
						{{ row.data.loc[0] | number }}
					</lg-view>
					<lg-view view="edit">
						<input type="number" ng-model="row.viewModel.loc[0]" class="form-control input-sm"/>
					</lg-view>
				</td>

				<td>
					<lg-view view="default">
						{{ row.data.loc[1] | number }}
					</lg-view>
					<lg-view view="edit">
						<input type="number" ng-model="row.viewModel.loc[1]" class="form-control input-sm"/>
					</lg-view>
				</td>

				<td>
					<lg-view view="default">
						{{ row.data.pop }}
					</lg-view>
					<lg-view view="edit">
						<input type="number" ng-model="row.viewModel.pop" class="form-control input-sm"/>
					</lg-view>
				</td>

				<td class="controls">
					<div lg-view="default" class="btn-group">
						<button class="btn btn-default btn-sm" lg-switch-view="edit" title="Edit"><i class="fa fa-fw fa-pencil-square-o"></i></button>
						<button class="btn btn-default btn-sm" lg-toggle-expanded-row="detailsTemplate.html" title="Map"><i class="fa fa-fw fa-map"></i></button>
					</div>
					<div lg-view="edit" class="btn-group">
						<button class="btn btn-primary btn-sm" lg-persist-data data-provider="dataProvider" title="Save"><i class="fa fa-fw fa-check"></i></button>
						<button class="btn btn-warning btn-sm" lg-switch-view="default" title="Cancel"><i class="fa fa-fw fa-times"></i></button>
					</div>
				</td>
			</tr>
			<tr lg-row-end lg-expanded-row>
				<td colspan="7" ng-include="'detailsTemplate.html'"></td>
			</tr>
		</tbody>
	</table>

	<lg-pager data-provider="dataProvider"></lg-pager>

	<pre>{{ dataProvider.getGridModel() | json}}</pre>
</div>

<source-display></source-display>
