<script>
	function hiddenColumnGridController($scope, sampleModel) {
		$scope.model = sampleModel;
		$scope.engineColumnVisible = true;
	}
</script>

<h2>Hidden columns</h2>

<div ng-controller="hiddenColumnGridController" ng-non-bindable>
	<table lg-grid class="table table-striped" model="model">
		<thead>
			<tr>
				<th>Make</th>
				<th>Model</th>
				<th ng-if="engineColumnVisible">Engine</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<tr lg-row>
				<td>{{ row.data.make }}</td>
				<td>{{ row.data.model }}</td>
				<td ng-if="engineColumnVisible">{{ row.data.engine }}</td>
			</tr>
		</tbody>
	</table>
	<div class="checkbox">
		<label>
			<input type="checkbox" ng-model="engineColumnVisible"/> Show engine data
		</label>
	</div>
</div>

<source-display></source-display>
