<script>
	function localEditableRowController($scope, sampleModel, lgLocalDataProviderFactory) {
		$scope.dataProvider = lgLocalDataProviderFactory.create(sampleModel);
		$scope.sampleModel = sampleModel;
	}
</script>

<h2>Editable row with local data provider</h2>

<div ng-controller="localEditableRowController" ng-non-bindable>
	<table lg-grid class="table table-striped" model="dataProvider.getGridModel()">
		<thead>
			<tr>
				<th>Make</th>
				<th>Model</th>
				<th>Engine</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<tr lg-row>
				<td width="28%">
					<div lg-view>{{ row.data.make }}</div>
					<div lg-view="edit">
						<input ng-model="viewData.make" class="form-control input-sm" />
					</div>
				</td>

				<td width="28%">
					<div lg-view>{{ row.data.model }}</div>
					<div lg-view="edit">
						<input ng-model="viewData.model" class="form-control input-sm" />
					</div>
				</td>

				<td width="28%">
					<div lg-view>{{ row.data.engine }}</div>
					<div lg-view="edit">
						<input ng-model="viewData.engine" class="form-control input-sm" />
					</div>
				</td>

				<td width="16%">
					<div lg-view>
						<button class="btn btn-default btn-sm" lg-switch-view="edit">Edit</button>
					</div>
					<div lg-view="edit">
						<button class="btn btn-primary btn-sm" lg-persist-data data-provider="dataProvider">Save</button>
						<button class="btn btn-default btn-sm" lg-switch-view="read">Cancel</button>
					</div>
				</td>
			</tr>
		</tbody>
	</table>

	<h3>Underlying model</h3>
	<pre>{{sampleModel | json }}</pre>
</div>

<source-display></source-display>
