<script>
	function simplestGridController($scope, sampleModel) {
		$scope.model = sampleModel;
	};
</script>

<h2>The simplest grid</h2>

<div ng-controller="simplestGridController" ng-non-bindable>
	<table lg-grid class="table table-striped" model="model">
		<thead>
			<tr>
				<th>Make</th>
				<th>Model</th>
				<th>Engine</th>
			</tr>
		</thead>
		<tbody>
			<tr lg-row>
				<td>{{ row.data.make }}</td>
				<td>{{ row.data.model }}</td>
				<td>{{ row.data.engine }}</td>
			</tr>
		</tbody>
	</table>
</div>

<source-display></source-display>
