<script>
	function sortableColumnsController($scope, sampleModel, lgLocalDataProviderFactory) {
		$scope.model = sampleModel;
		$scope.dataProvider = lgLocalDataProviderFactory.create(sampleModel);
	}
</script>

<h2>Sortable columns</h2>

<div ng-controller="sortableColumnsController" ng-non-bindable>
	<table lg-grid class="table table-striped" model="dataProvider.getGridModel()">
		<thead>
			<tr>
				<th><lg-sorter sort-property="make" data-provider="dataProvider">Make</lg-sorter></th>
				<th><lg-sorter sort-property="model" data-provider="dataProvider">Model</lg-sorter></th>
				<th><lg-sorter sort-property="engine" data-provider="dataProvider">Engine</lg-sorter></th>
			</tr>
		</thead>
		<tbody>
			<tr lg-row>
				<td>{{ row.data.make }}</td>
				<td>{{ row.data.model }}</td>
				<td>{{ row.data.engine }}</td>
			</tr>
		</tbody>
	</table>
</div>

<source-display></source-display>
