<h2><code>lgPager</code> directive</h2>

<p>Renders paging controls that modify the result set returned by a data provider.</p>

<h3>Attributes</h3>
<table class="table table-striped">
	<thead>
	<tr>
		<th>Attribute</th>
		<th>Type</th>
		<th>Description</th>
	</tr>
	</thead>
	<tbody>
	<tr>
		<td>provider</td>
		<td>data provider</td>
		<td>A reference to a data provider this control will communicate with.</td>
	</tr>
	</tbody>
</table>

<h3>Examples</h3>
<pre highlight="html">
&lt;lg-pager provider="dataProvider"&gt;&lt;/lg-pager&gt;
</pre>
