<h2><code>lgSorter</code> directive</h2>

<p>
	Renders controls to order data by a particular field. Will usually be placed inside a <code>lgHeaderView</code> directive.
</p>
<p>
	You may put the column title inside the directive. This way, clicking on the title will trigger sorting.
</p>

<h3>Attributes</h3>
<table class="table table-striped">
	<thead>
		<tr>
			<th>Attribute</th>
			<th>Type</th>
			<th>Description</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>sort-property (or lg-sorter)</td>
			<td>string</td>
			<td>Name of the field to order the data by.</td>
		</tr>
		<tr>
			<td>provider</td>
			<td>data provider</td>
			<td>A reference to a data provider this control will communicate with.</td>
		</tr>
	</tbody>
</table>

<h3>Examples</h3>
<pre highlight="html">
&lt;table lg-grid model="dataProvider.getGridModel()"&gt;
	&lt;thead&gt;
		&lt;tr&gt;
			&lt;th&gt;&lt;lg-sorter sort-property="firstName" data-provider="dataProvider"&gt;First name&lt;/lg-sorter&gt;&lt;/th&gt;
			&lt;th&gt;&lt;lg-sorter sort-property="lastName" data-provider="dataProvider"&gt;Last name&lt;/lg-sorter&gt;&lt;/th&gt;
		&lt;/tr&gt;
	&lt;/thead&gt;
	&lt;tbody&gt;
		&lt;tr lg-row&gt;
			&lt;td&gt;{{ row.data.firstName }}&lt;/td&gt;
			&lt;td&gt;{{ row.data.lastName }}&lt;/td&gt;
		&lt;/tr&gt;
	&lt;/tbody&gt;
&lt;/table&gt;
</pre>
