<h2><code>lgToggleExpandedRow</code> directive</h2>

<p>Opens or closes the expanded view of the row.</p>
<p>This directive can be only used as an attribute. Its value specifies the name of the template used as an expanded row content.</p>

<h3>Attributes</h3>
<table class="table table-striped">
	<thead>
		<tr>
			<th>Attribute</th>
			<th>Type</th>
			<th>Description</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>details-template (or lg-toggle-expanded-row)</td>
			<td>string</td>
			<td>ID or URL of the template to show in the expanded view.</td>
		</tr>
	</tbody>
</table>

<h3>Examples</h3>
<pre highlight="html">
&lt;script type="text/ng-template" id="detailsTemplate"&gt;
	&lt;p&gt;
		{{ row.data.firstName }} {{ row.data.lastName }} was born on
		{{ row.data.birthday }} in {{ row.data.birthPlace }}.
	&lt;/p&gt;
&lt;/script&gt;

&lt;table lg-grid model="model"&gt;
	&lt;tr lg-row-start&gt;
		&lt;td&gt;{{ row.data.firstName }}&lt;/td&gt;
		&lt;td&gt;{{ row.data.lastName }}&lt;/td&gt;
		&lt;td&gt;&lt;button lg-toggle-expanded-row class="btn btn-default btn-sm"&gt;Details&lt;/button&gt;&lt;/td&gt;
	&lt;/tr&gt;
	&lt;tr lg-row-end ng-if="row.expanded"&gt;
		&lt;td colspan="3" ng-include="'detailsTemplate'"&gt;&lt;/td&gt;
	&lt;/tr&gt;
&lt;/table&gt;
</pre>
