<h2>Auxillary controls overview</h2>

<p>
	The directives in the <code>lightGridControls</code> module are not required to use the Light Grid itself.
	Their purpose is to help achieving common tasks. They can also act as a starting point for developing own controls.
</p>
