@model Web.Services.DocumentationFileSources
@{
	ViewBag.Title = "API documentation";
}
<h1>API documentation</h1>
<p>Still in progress...</p>
<div class="row" ng-app="lightGridDocs">
	<div class="col-md-3">
		<div class="panel panel-default">
			<div class="panel-body">
				<ul class="nav nav-stacked">
					<li><strong>Light Grid core</strong></li>
					@foreach (var page in Model.LightGridDocs)
					{
						<li><a href="#/lightGrid/@page">@page</a></li>
					}
					<li><strong>Data providers</strong></li>
					@foreach (var page in Model.DataProvidersDocs)
					{
						<li><a href="#/dataProviders/@page">@page</a></li>
					}
					<li><strong>Templates</strong></li>
					@foreach (var page in Model.TemplatesDocs)
					{
						<li><a href="#/templates/@page">@page</a></li>
					}
					<li><strong>Auxillary controls</strong></li>
					@foreach (var page in Model.ControlsDocs)
					{
						<li><a href="#/controls/@page">@page</a></li>
					}
				</ul>
			</div>
		</div>
	</div>
	<div class="col-md-9">
		<div data-ng-view></div>
	</div>
</div>

@section styles
{
	<link rel="stylesheet" href="~/Content/highlight.css" />
}

@section scripts
{
	<script src="~/Scripts/highlight.pack.js"></script>
	<script src="~/Scripts/utils.js"></script>
	<script src="~/Scripts/docs.js"></script>
}
