@{
	ViewBag.Title = "Demos";
}
<h1>Demos</h1>

<p>The fastest way to get going - copy from the source, paste to your project.</p>

<div class="row" ng-app="lightGridSamples">
	<div class="col-md-3">
		<div class="panel panel-default">
			<div class="panel-body">
				<ul class="nav nav-stacked">
					<li><a href="#/simplest">The simplest grid</a></li>
					<li><a href="#/local-data">Local data provider</a></li>
					<li><a href="#/expanded-row">Expanded row</a></li>
					<li><a href="#/local-editable-row">Editable row (local)</a></li>
					<li><a href="#/sortable-columns">Sortable columns</a></li>
					<li><a href="#/client-side-search">Client-side search</a></li>
					<li><a href="#/client-side-paging">Client-side paging</a></li>
					<li><a href="#/hidden-columns">Hidden columns</a></li>
					<li><a href="#/fully-featured-local">Fully featured (local data)</a></li>
					<li><a href="#/server-side-processing">Server-side processing</a></li>
					<li><a href="#/custom-element">Custom element</a></li>
				</ul>
			</div>
		</div>
	</div>
	<div class="col-md-9">
		<div data-ng-view></div>
	</div>
</div>

@section styles
{
	<link rel="stylesheet" href="~/Content/highlight.css"/>
}

@section scripts
{
	@Scripts.Render("~/bundles/samples")
}
