@{
	ViewBag.Title = "Lightweight customizable grid for Angular JS";
}

<div class="jumbotron">
	<img src="~/Content/light-grid-logo.png" alt="Light Grid logo"/>
	<h1>Light Grid</h1>
	<p class="lead">
		Light Grid is a simple to use grid component for <a href="http://angularjs.org">Angular JS</a>. It's designed with extensibility and ease of customization in mind.
	</p>
	<p>Compatible with Angular JS up to 1.6</p>
	<p>
		<a class="btn btn-primary" href="@Url.Action("Overview")">See overview &raquo;</a>
		<a class="btn btn-success" href="https://github.com/michaldudak/light-grid/releases/download/v1.0.0-rc1/light-grid.1.0.0-rc1.zip" download>Download the latest version &raquo;</a>
	</p>
</div>

<div class="row">
	<div class="col-md-4">
		<h2>Demos</h2>
		<p>
			Thinking about getting started? Here you will see how.
		</p>
		<p><a class="btn btn-default" href="@Url.Action("Demos")">See it in action &raquo;</a></p>
	</div>
	<div class="col-md-4">
		<h2>Documentation</h2>
		<p>This may come in handy if you plan to do something complex.</p>
		<p><a class="btn btn-default" href="@Url.Action("Api")">See what, how and where &raquo;</a></p>
	</div>
	<div class="col-md-4">
		<h2>Contributing</h2>
		<p>
			Pull requests are welcome! Just <a href="https://github.com/michaldudak/light-grid/fork">fork the project</a> and do something awesome with it! Just make sure your code complies with the code style rules and passes all the tests.
			See <a href="https://github.com/michaldudak/light-grid/blob/master/readme.md" target="_blank">the readme file on GitHub</a> for more details.
		</p>
		<p><a class="btn btn-default" href="https://github.com/michaldudak/light-grid">See the source &raquo;</a></p>
	</div>
</div>
