@{
	ViewBag.Title = "Lightweight customizable grid for Angular JS";
}

<div class="jumbotron">
	<h1>Light Grid</h1>
	<p class="lead">Light Grid is a simple to use grid component for <a href="http://angularjs.org">Angular JS</a>. It's designed with extensibility and ease of customization in mind.</p>
	<p>
		<a class="btn btn-primary" href="@Url.Action("Overview")">See overview &raquo;</a>
		<a class="btn btn-success" href="@Url.Action("Download")">Download &raquo;</a>
	</p>
</div>

<div class="row">
	<div class="col-md-4">
		<h2>Demos</h2>
		<p>
			Thinking about getting started? Here you will see how.
		</p>
		<p><a class="btn btn-default" href="@Url.Action("Demos")">See it in action &raquo;</a></p>
	</div>
	<div class="col-md-4">
		<h2>Documentation</h2>
		<p>This may come in handy if you plan to do something complex.</p>
		<p><a class="btn btn-default" href="@Url.Action("Api")">See what, how and where &raquo;</a></p>
	</div>
	<div class="col-md-4">
		<h2>Contributing</h2>
		<p>Once the Grid becomes quite stable, I'll start accepting pull requests. For now, you can <a href="https://github.com/michaldudak/light-grid">take a look at the code on GitHub</a>.</p>
	</div>
</div>