<?xml version="1.0"?>

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
	<system.web>
		<compilation xdt:Transform="RemoveAttributes(debug)" />
	</system.web>
	<system.webServer>
		<staticContent xdt:Transform="Insert">
			<clientCache cacheControlCustom="public" cacheControlMode="UseMaxAge" cacheControlMaxAge="30.0:00:00" />
		</staticContent>
		<rewrite xdt:Transform="Insert">
			<rules>
				<rule name="CanonicalHostNameRule">
					<match url="(.*)" />
					<conditions>
						<add input="{HTTP_HOST}" pattern="^light-grid\.net$" negate="true" />
					</conditions>
					<action type="Redirect" url="http://light-grid.net/{R:1}" />
				</rule>
			</rules>
		</rewrite>
	</system.webServer>
</configuration>
